<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KazMapContext" connectionString="metadata=res://*/KazMapContext.csdl|res://*/KazMapContext.ssdl|res://*/KazMapContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=KazMap;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KazMapConnection" connectionString="metadata=res://*/KazMapContext.csdl|res://*/KazMapContext.ssdl|res://*/KazMapContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=KazMap;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>